body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

#wrapper{
    background-color: #000;
    border-style: none;
}

/* ----- container-div med det store image ----- */
#imgcontainer {
    margin: auto;
    padding: 60px 30px;
}

    #imgcontainer img {
        display: block;
        margin: auto;
        border: 1px solid #FFF;
    }

/* ----- container-div omkring alt det, som skal skubbes frem og tilbage (div med pile + div med thumbs) ----- */
#imgmenucontainer {
    position: absolute;
    left: 0; /* yderposition ved "skjul" er -170px */
    top: 0;
    width: 180px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.1);
}

/* ----- div med de to pile ----- */
#imgpusher {
    position: absolute;
    top: 0;
    left: 190px;
}

    #imgpusher #left {
        cursor: pointer;
    }

    #imgpusher #right {
        display: none;
        cursor: pointer;
    }



/* ----- div med thumbs ----- */
#imgmenu {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
}

    #imgmenu img {
        display: block;
        margin: 20px 0;
        border: 1px solid #FFF;
        cursor: pointer;
    }
